/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  	box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  	background: black;
  	color: white;
}
section{
  	display: block;
  	float: left;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
