/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  background: white;
  color: white;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
