/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  	box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  	color: grey;
	background-color: black;
	font-family: 'Roboto', sans-serif;
}
table{
	width: 100%;
	text-align: center; 
    vertical-align: middle;
}
thead{
	color: black;
	background-color: #a1a1a1;
}
td{
	height: 50px;
	width: 100px;
}
tbody tr:nth-child(odd){
	color: black;
	background-color: #b8b8b8;
}
tbody tr:nth-child(even) {
	color: black;
	background-color: #e3e3e3;
  }
  

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
